.contact-box {
    background-color: #200F62;
    height: max-content;
    min-width: 1280px;
}

.contact-box h1 {
    padding: 40px;
    padding-top: 60px;
    font-size: 40px;
    color: aliceblue;
    font-family: ui-monospace;
    letter-spacing: 4px;
    font-weight: 600;

}

.form {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    padding-top: 80px;
}

.form .form-element {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 60px;

}

.form-element input {
    width: 900px;
    height: 50px;
    color: black;
    border-radius: 10px;
    border-color: cornflowerblue;
    background-color: #f8f8f8;
    padding: 10px;

}

.form-element input:focus {
    background-color: #e0e0e0;
}

.form-element label {
    position: absolute;
    color: black;
    font-size: 23px;
    top: 20%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s ease;
    padding: 0 10px;
}

.form-element input:focus+label,
.form-element input:valid+label {
    top: -26px;
    font-size: 20px;
    color: aliceblue;
}

.form-element select {
    background-color: #f8f8f8;
    color: black;
    height: 50px;
    width: 900px;
    border-radius: 10px;
    border-color: cornflowerblue;
    padding: 10px;
    margin-bottom: 50px;
    
}

.form-element .select-label {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s ease;
    padding: 0 10px;

}

.form-element select option {
    color: black;
}

.form-element select:focus+label,
.form-element select:valid+label {
    top: -26px;
    font-size: 20px;
    color: aliceblue;
}

.form-element textarea {

    width: 900px;
    height: 300px;
    padding: 20px;
    color: black;
    border-radius: 10px;
    border-color: cornflowerblue;
    background-color: #f8f8f8;

}

.form-element .text-label{
    top:10%;
}

.form-element textarea:focus + label, .form-element textarea:valid+label{
    top: -26px;
    font-size: 20px;
    color: aliceblue;

}

.form button{
    margin: 10px;
    font-weight: 600;
    font-size: 18px;
    width: 300px;
    background-color: #31b936;
    padding: 10px;
    border-radius: 20px;
}

.form button:hover {
    background-color: #46e44b;
    scale: 1.05;
    transition: 0.1s ease;
}

